name: Goth (PR and push)

on:
  workflow_dispatch:
  push:
    branches:
      - master
      # - <your-branch>    # put your branch name here to test it @ GH Actions
  pull_request:
    branches:
      - master
      - b0.*

jobs:
  goth-tests:
    name: Run integration tests
    runs-on: [goth, ubuntu-18.04]
    steps:
      - name: install docker-compose
        run: |
          sudo curl -L "https://github.com/docker/compose/releases/download/1.28.4/docker-compose-Linux-x86_64" -o /usr/local/bin/docker-compose
          sudo chmod a+x /usr/local/bin/docker-compose

      - name: install ffi and gcc
        run: sudo apt-get install -y libffi-dev build-essential

      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8.0'

      - name: Install and configure Poetry
        run: python -m pip install -U pip setuptools poetry==1.3.2

      - name: Install dependencies
        run: |
          poetry config experimental.new-installer false
          poetry env use python3.8
          poetry install

      - name: Disconnect Docker containers from default network
        continue-on-error: true
        # related to this issue: https://github.com/moby/moby/issues/23302
        run: |
          docker network inspect docker_default
          sudo apt-get install -y jq
          docker network inspect docker_default | jq ".[0].Containers | map(.Name)[]" | tee /dev/stderr | xargs --max-args 1 -- docker network disconnect -f docker_default

      - name: Remove Docker containers
        continue-on-error: true
        run: docker rm -f $(docker ps -a -q)

      - name: Restart Docker daemon
        # related to this issue: https://github.com/moby/moby/issues/23302
        run: sudo systemctl restart docker

      - name: Log in to GitHub Docker repository
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login docker.pkg.github.com -u ${{github.actor}} --password-stdin

      - name: Initialize the test suite
        run: poetry run poe tests_integration_init

      - name: Run test suite
        env:
          GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: poetry run poe tests_integration

      - name: Upload test logs
        uses: actions/upload-artifact@v2
        if: always()
        with:
           name: goth-logs
           path: /tmp/goth-tests

      # Only relevant for self-hosted runners
      - name: Remove test logs
        if: always()
        run: rm -rf /tmp/goth-tests

      # Only relevant for self-hosted runners
      - name: Remove poetry virtual env
        if: always()
        # Python version below should agree with the version set up by this job.
        # In future we'll be able to use the `--all` flag here to remove envs for
        # all Python versions (https://github.com/python-poetry/poetry/issues/3208).
        run: poetry env remove python3.8
