name: Continuous integration
on:
  push:
    branches:
      - master
      - b0.*
  pull_request:
    branches:
      - master
      - b0.*

jobs:
  test:
    name: Run checks
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.8, 3.9]
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        exclude:
          - os: windows-latest
            python-version: 3.9
          - os: macos-latest
            python-version: 3.9
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - uses: Gr1N/setup-poetry@v4
        with:
          poetry-version: 1.1.4
      - run: echo "::set-output name=ENABLE::1"
        if: ${{ matrix.os == 'ubuntu-latest' }}
        name: Enable extended checks
        id: extended-checks
      - run: echo "::set-output name=ENABLE::1"
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.python-version == '3.8' }}
        name: Enable goth tests
        id: goth-tests
      - run: poetry install -E cli
      - run: poetry run poe test
      - run: poetry run poe typecheck
      - run: poetry run poe codestyle
        if: ${{ steps.extended-checks.outputs.ENABLE }}
      - run: poetry run poe liccheck
        if: ${{ steps.extended-checks.outputs.ENABLE }}
      - run: poetry run poe goth-tests
        if: ${{ steps.goth-tests.outputs.ENABLE }}