name: Continuous integration
on:
  push:
    branches:
      - master
      - b0.*
  pull_request:
    branches:
      - master
      - b0.*

jobs:
  test:
    name: Run checks
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - uses: Gr1N/setup-poetry@v7
        with:
          poetry-version: 1.1.13

      - run: echo "::set-output name=ENABLE::1"
        if: ${{ matrix.os == 'ubuntu-latest' }}
        name: Enable extended checks
        id: extended-checks
      - run: echo "::set-output name=ENABLE::1"
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.python-version == '3.8' }}
        name: Enable sphinx check
        id: extended-checks-sphinx

      - run: poetry install
      - run: poetry install -E docs
        if: ${{ steps.extended-checks-sphinx.outputs.ENABLE }}

      - run: poetry run poe test
      - run: poetry run poe typecheck
      - run: poetry run poe codestyle
        if: ${{ steps.extended-checks.outputs.ENABLE }}
      - run: poetry run poe liccheck
        if: ${{ steps.extended-checks.outputs.ENABLE }}
      - run: poetry run poe sphinx -W
        if: ${{ steps.extended-checks-sphinx.outputs.ENABLE }}
