name: Continuous integration
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Run checks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - uses: Gr1N/setup-poetry@v2
        with:
          poetry-version: 1.0.9
      - run: poetry install -E cli
      - run: poetry run poe test
      - run: poetry run poe typecheck
      - run: poetry run poe codestyle

